<html>
<head>
  <title>Superinternet Airport</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Superinternet Airport" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://superinternet.cc" />
  <meta property="og:image" content="img/bo.jpg" />

  <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  <link rel="image_src" href="img/bo.jpg"/>

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/angularApp.js"></script>

</head>
<body ng-app="airport" ng-controller="MainCtrl">
      <ui-view></ui-view>

  <script type="text/ng-template" id="/home.html">

    <div class="container">
      <div class="top">
        <div class="">
          <h1>☺departures</h1>
        </div>
          <div class="">
            <div class="single">
              <h4>flights</h4>
              <h4>gates</h4>
              <h4>timing</h4>
              <h4>info</h4>
              <h4>delay</h4>
              <div class="clear"></div>
            </div>
            <div class="single" ng-repeat="flight in posts | orderBy:'order'">
              <h3>{{flight.name}} <span class="edit-artist" ng-if="admin"><a href="#/posts/{{flight._id}}">EDIT</a></span></h3>
              <h4>{{flight.place}}</h4>
              <h4>{{flight.begin | date:"HH:mm"}}</h4>
              <h4 class="filght-info" ng-controller="FlightController" ng-class="statusText">{{statusText}}</h4>
              <h4 class="filght-delay" ng-controller="FlightController" ng-class="statusText">{{statusDelay}}</h4>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <h2>the .party has been visited by <span class="visitors-counter">{{counter[0].upvotes}}</span> users</h2>
        </div>
      </div>


  <form ng-submit="addPost()" ng-if="addArtist">
    <h3>Add a new artist</h3>

    <div class="form-group">
      <input type="number" class="form-control" placeholder="Order" ng-model="order"></input>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Artist" ng-model="name"></input>
    </div>

    <div class="form-group">
      <label>Place:
      <select ng-model="place">
        <option value="Salone">Salone</option>
        <option value="Saletta">Saletta</option>
        <option value="Giardino">Giardino</option>
      </select>
      </label>
    </div>

    <div class="form-group">
      Begin at:
      <select ng-model="day">
        <option value="11">Sabato</option>
        <option value="12">Domenica</option>
      </select>
      –
      <select ng-model="hour">
        <option value="{{number}}" ng-repeat="number in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']">{{number}}</option>
      </select>
      <select ng-model="minute">
        <option value="{{number}}" ng-repeat="number in ['00','05','10','15','20','25','30','35','40','45','50','55']">{{number}}</option>
      </select>
    </div>

    <!-- <div class="form-group">
      <label>Status:
      <select ng-model="status">
        <option value="Boarding">Boarding</option>
        <option value="In Flight">In Flight</option>
        <option value="Landed">Landed</option>
        <option value="Delayed">Delayed</option>
        <option value="Cancelled">Cancelled</option>
      </select>
      </label>
    </div> -->

    <div class="form-group">
      <input type="number" class="form-control" placeholder="Delay" ng-model="delay"></input>
    </div>

    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</script>

<script type="text/ng-template" id="/posts.html">
  <div class="page-header">
    <h2><a href="#/home/">Home</a></h2>

    <form ng-submit="editPost()">

      <div class="form-group">
        <input type="number" ng-value="post.order" class="form-control" placeholder="Order" ng-model="order"></input>
      </div>

      <div class="form-group">
        <input type="text" ng-value="post.name" class="form-control" placeholder="Artist" ng-model="name"></input>
      </div>

      <div class="form-group">
        <label>Place:
        <select ng-model="place" ng-value="post.place">
          <option value="Salone">Salone</option>
          <option value="Saletta">Saletta</option>
          <option value="Giardino">Giardino</option>
        </select>
        </label>
      </div>

      <div class="form-group">
        Begin at:
        <select ng-model="day">
          <option value="11">Sabato</option>
          <option value="12">Domenica</option>
        </select>
        –
        <select ng-model="hour">
          <option value="{{number}}" ng-repeat="number in ['00','01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23']">{{number}}</option>
        </select>
        <select ng-model="minute">
          <option value="{{number}}" ng-repeat="number in ['00','05','10','15','20','25','30','35','40','45','50','55']">{{number}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Status:
        <select ng-model="status">
          <option value="Automatic">Automatic</option>
          <option value="Landed">Landed</option>
          <option value="Delayed">Delayed</option>
          <option value="Cancelled">Cancelled</option>
        </select>
        </label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Delay" ng-model="delay" ng-value="post.delay"></input>
      </div>

      <button type="submit" class="btn btn-primary">Post</button>

      <pre>
        {{post}}
      </pre>

    </form>

  </div>

</script>

<script type="text/ng-template" id="/counter.html">
  <div ng-repeat="c in counter">
    <h1>Il contatore di:</h1>
    <h1>{{c.title}} è:</h1>
    <h1>{{c.upvotes}}</h1>
    <hr>
    <a class="add-visitor" ng-click="addVisitor()">+1</a>
  </div>
</script>

</body>
</html>
