// Typography

$font-list: (
  h1    $font         4.7        5.0      400,
  h2    $font         4.7        5.0      400,
  h3    $font         4.7        5.0      400,
  h4    $font         4.7        5.0      400,
  h5    $font         4.7        5.0      400,
  h6    $font         4.7        5.0      400,
  p     $font         4.7        5.0      400,
);

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

ol > li {
  margin-left: 1.5em;
}

ol > li > ol {
  list-style-type: lower-alpha;
}

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font;
}

body,
button,
input,
select,
textarea {
  color: $color-text;
}

main {
  display: block;
}

b,
strong {
  font-weight: 700;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

address {
  font-style: italic;
  margin: 0 0 1.6em;
}

abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
  cursor: help;
}

mark,
ins {
  background-color: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

a {
  text-decoration: none;
  color: $color-text;
}

dd {
 @include remSize(padding-left, 2);
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

figure {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  @include remSize(margin-bottom, 4);
  color: $color-text;
  @include opacity(0.9);
}

*:focus {
  outline: 0;
}
