/*
Theme Name: Superinternert
Theme URI: http://pabl.one
Author: pablo.galbusera@gmail.com
Author URI: http://pabl.one
Description: Superinternert
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: pablone
Text Domain: saporiti
*/

// Color

$color-text: rgb(0,0,0);

// Typography

$font: sans-serif;
$font-size: 1.5;
$letter-spacing: 0;


@import 'function';

@import 'reset';

body {
	font-family: "Arial", sans-serif;
	font-weight: normal;
	font-size: 10px;
	background-color: blue;
	color: white;
}
h1, h2 {
	font-size: 60px;
	line-height: 74px;
	font-weight: normal;
	text-align: center;
	height: 80px;
}
h3 {
	font-size: 30px;
	line-height: 56px;
	font-weight: normal;
	float: left;
	color: red
}
h4 {
	font-size: 24px;
	line-height: 60px;
	font-weight: normal;
	float: left;
	text-transform: uppercase;
	color: yellow
}
.top {
	// position: fixed;
	top: 0;
	left: 20px;
	right: 20px;
}
.bottom {
	position: fixed;
	bottom: 0;
	left: 20px;
	right: 20px;
}
.single {
	background-color: black;
	padding: 0 20px;
	height: 60px;
	margin-bottom: 2px;
}
.single:first-child h3, .single:first-child h4 {
	color: white;
}
.single h4 {
	width: 15%;
}
.single h3, .single:first-child h4:first-child {
	width: 40%;
}

.clear {
	clear: both;
	height: 0;
}
.edit-artist {
	a {
			color: green;
	}
}
.add-visitor {
	cursor: pointer;
	font-size: 150px;
	display: block;
	width: 100%;
	text-align: center;
}
.visitors-counter {
	// min-width: 120px;
  // text-align: center;
  // display: inline-block;
}
