/*
Theme Name: Superinternert
Theme URI: http://pabl.one
Author: pablo.galbusera@gmail.com
Author URI: http://pabl.one
Description: Superinternert
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: pablone
Text Domain: saporiti
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

ol > li {
  margin-left: 1.5em; }

ol > li > ol {
  list-style-type: lower-alpha; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif; }

body,
button,
input,
select,
textarea {
  color: black; }

main {
  display: block; }

b,
strong {
  font-weight: 700; }

dfn,
cite,
em,
i {
  font-style: italic; }

address {
  font-style: italic;
  margin: 0 0 1.6em; }

abbr[title] {
  border-bottom: 1px dotted #eaeaea;
  border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
  cursor: help; }

mark,
ins {
  background-color: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

a {
  text-decoration: none;
  color: black; }

dd {
  padding-left: 20px;
  padding-left: 2rem; }

* {
  -webkit-tap-highlight-color: transparent; }

figure {
  text-align: center; }

img {
  max-width: 100%;
  height: auto; }

hr {
  border: 0;
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  color: black;
  opacity: 0.9;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  filter: alpha(opacity=90); }

*:focus {
  outline: 0; }

body {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 10px;
  background-color: blue;
  color: white; }

h1, h2 {
  font-size: 60px;
  line-height: 74px;
  font-weight: normal;
  text-align: center;
  height: 80px; }

h3 {
  font-size: 30px;
  line-height: 56px;
  font-weight: normal;
  float: left;
  color: red; }

h4 {
  font-size: 24px;
  line-height: 60px;
  font-weight: normal;
  float: left;
  text-transform: uppercase;
  color: yellow; }

.top {
  top: 0;
  left: 20px;
  right: 20px; }

.bottom {
  position: fixed;
  bottom: 0;
  left: 20px;
  right: 20px; }

.single {
  background-color: black;
  padding: 0 20px;
  height: 60px;
  margin-bottom: 2px; }

.single:first-child h3, .single:first-child h4 {
  color: white; }

.single h4 {
  width: 15%; }

.single h3, .single:first-child h4:first-child {
  width: 40%; }

.clear {
  clear: both;
  height: 0; }

.edit-artist a {
  color: green; }

.add-visitor {
  cursor: pointer;
  font-size: 150px;
  display: block;
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
